<!DOCTYPE html>
<html>
<head>
  <title>Places App</title>
</head>
<div id="header">
	<h1>Places Application</h1>
</div>
<div id="main">
	<h1>Places Application</h1>
</div>
<body>

<%= yield %>

</body>
</html>
